.page.theme_dark {
  --bg-color: #000028;
  --text-color: #F1B2CE;
  --accent-text-color: #FF0070;
  --accent-color: #FF0070;
  --section-title-color: #000028;
  --accent-title-color: #DB00FF;

  background-image: url("../images/cover-image-dark.png");
  background-color: var(--bg-color);

}

.theme_dark .header__theme-menu-button:hover {
  outline: 1px solid rgba(255, 0, 112, 0.4);
}


.theme_dark .decorated-text {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  justify-self: end;
  align-self: start;
  display: flex;
  align-items: center;
  column-gap: 10px;
  margin-inline-end: 10px;
  color: var(--accent-text-color);
}

.theme_dark .decorated-text::after {
  display: block;
  content: "";
  height: 9px;
  width: 9px;
  background-color: var(--accent-color);
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
}

